apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.app.name }}
  namespace: redis
  labels:
    app: {{ .Values.app.name }}
spec:
  type: {{ .Values.app.service.type }}
  ports:
    - port: {{ .Values.app.service.port }}
      targetPort: {{ .Values.app.service.targetPort }}
      protocol: TCP
      name: redis
  selector:
    app: {{ .Values.app.name }}
